@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
  --logo-green: #07e41a;
  --logo-yellow: #fefe00;
  --logo-blue: #0000e4;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background-image: url(./img/city-night.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  color: #fff;
  padding-bottom: 180px;
}

h1 {
  font-size: 3.25rem;
}
.instructions {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
}

h2 {
  font-size: 1.1rem;
  text-align: center;
}

.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
  background-color: #fff;
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable-list .city-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .city-name {
  color: var(--logo-green);
}

.draggable-list li.wrong .city-name {
  color: #ff3838;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.btn-container {
  margin-bottom: 2em;
}
.check-btn {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 2em;
  display: block;
}

.check-btn active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}
/*------------------------------- footer styles --------------------------------
------------------------------------------------------------------------------*/
footer {
  background: #f7f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 150px;
  position: relative;
  margin: 0;
  border-top: 2px solid var(--logo-yellow);
}
footer .credits {
  width: 100%;
  color: #000;
  text-align: center;
  margin: 1.2em 0 0.5em 0;
  font-size: 1.5rem;
}
footer img {
  width: 60px;
  margin-left: 15px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
address {
  display: inline;
}

address a {
  text-decoration: none;
  color: var(--logo-green);
  margin-bottom: 2em;
  font-size: 1.5rem;
}

address a:hover {
  color: var(--logo-yellow);
  background-color: #000;
  border-radius: 5px;
}

address a:active {
  color: var(--logo-green);
}

.social {
  position: absolute;
  bottom: 45px;
  right: 10px;
}

.social a {
  color: #f7f6f6;
}
.social i {
  color: var(--logo-blue);
  margin: 0 10px;
}

.social i:hover {
  color: var(--logo-yellow);
}

.social i:active {
  color: var(--logo-green);
}
/*------------------------------- media queries --------------------------------
------------------------------------------------------------------------------*/
@media screen and (max-width: 1100px) {
  footer {
    margin: 0;
    bottom: 0;
    height: 190px;
  }
  .social {
    position: static;
    top: 10px;
    padding-bottom: 10px;
  }
  .logo {
    margin: 0;
  }
  .social i {
    margin: 10px 10px;
  }
}
